@import url("../../../styles/base.css");

.content {
  display: flex;
  flex-direction: row;

  order: 2;

  margin-left: 20px;
}

.widget {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.images {
  order: 1;
}
.tweetList {
  order: 2;
}
