@import url("../../styles/base.css");
@import url("../../styles/colors.css");
@import url("../../styles/queries.css");

.wrapper {
  // background-color: var(--light-blue);
  // border-top: 1px solid color(var(--light-blue) blackness(20%));
  display: flex;
  flex-direction: row;

  position: absolute;
  top: var(--topbar-height);
  justify-content: center;

  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;

  .bar {
    background: #fff;
    order: 1;
    flex: 1;

    height: 100vh;
    border-left: 1px solid #bbb;
  }

  @media (--screen-phone-lg) {
    .bar {
    }
  }
}
