@import url("../../styles/base.css");
@import url("../../styles/colors.css");
@import url("../../styles/queries.css");

.wrapper {
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;

  .bar {
    background: #fff;
    order: 1;
    flex: 1;

    height: 100vh;
    border-left: 1px solid #bbb;
  }

  @media (--screen-phone-lg) {
    .bar {
    }
  }
}
